.table-header {
    -fx-padding: 5 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #2a56c6;
    -fx-border-width: 1 1 1 1;
}

.table-label {
    -fx-padding: 5 10;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: white;
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 14px;
}

.table-label:hover {
    -fx-background-color: #e0e0e0;
}

.label-no        { -fx-pref-width: 40px;  -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-name      { -fx-pref-width: 150px; -fx-alignment: center-left; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-starttime { -fx-pref-width: 150px; -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-duration  { -fx-pref-width: 80px;  -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-question  { -fx-pref-width: 70px;  -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-correct   { -fx-pref-width: 70px;  -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 1 0 0; }
.label-score     { -fx-pref-width: 70px; -fx-alignment: center; -fx-border-color: #ddd; -fx-border-width: 0 0 0 0; }